<!-- <h3> Post an Accomplishment! </h3>
 -->
<form method="POST" enctype="multipart/form-data" action="/a/" class="sticky taped2">
  <div>
    <label for="accomplishmentTextarea"> Accomplishment </label>
    <textarea class="form-control" placeholder="I made a new friend!" id="accomplishmentTextarea" name="accomplishment"></textarea> <br>
  </div>

  <div>
    <label for="nameInput"> Name </label>
    <input id="nameInput" class="form-control" name="name" type="text" value="{{if .User.Name }}{{.User.Name}}{{else}}Anonymous{{ end }}"> <br>
  </div>

  <div>
    <label for="fileInput"> Picture (Optional) </label>
    <input id="fileInput" class="form-control" name="file" type="file"> <br>
  </div>

  <button type="submit" class="btn btn-default"> Submit </button>
</form>

