<form method="POST" enctype="multipart/form-data" action="/a" class="sticky taped2">
  <div>
    <label for="accomplishmentTextarea"> Accomplishment </label>
    <textarea class="form-control" placeholder="I made a new friend!" id="accomplishmentTextarea" name="accomplishment"></textarea> <br>
  </div>

  <div>
    <label for="fileInput"> Picture (Optional) </label>
    <input id="fileInput" class="form-control" name="file" type="file"> <br>
  </div>

  <p> 
    <small> - {{if .User.Name }}{{.User.Name}}{{else}}Anonymous{{ end }} </small> 
  </p>
  <button type="submit" class="btn btn-success btn-lg"> Submit </button>
</form>

